
@model ProjectsModel
@{
    ViewBag.Title = "View Task";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-lg-12">
       
        <form id="projectForm" asp-action="Edit" method="post">
            <div class="card">

                <div class="card-body">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="project_name"></label>
                        </div>
                        <div class="col-md-6">
                            @Model.project_name
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="project_description"></label>
                        </div>
                        <div class="col-md-6">
                            @Html.Raw(Model.project_description.Replace("\n", "<br />"))
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="assign_to"></label>
                        </div>
                        <div class="col-md-6">

                            @foreach (User us in @ViewBag.allUsers)
                            {

                                if (us.id == Model.assign_to)
                                {
                                    @us.full_name
                                }
                            }
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label asp-for="project_deadline"></label>
                        </div>
                        <div class="col-md-6">
                            @Model.project_deadline
                        </div>
                    </div>


                    <div class="text-left mt-5">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="text">Back</span>
                        </a>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>


